ktg1adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "ktg1adf"
		},
		"amlblob_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'amlblob'"
		},
		"bricksTransform_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'bricksTransform'"
		},
		"ktg1blob_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'ktg1blob'"
		},
		"ktg1blobKey_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ktg1blobKey'"
		},
		"ktg1bricks_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'ktg1bricks'"
		},
		"ktg2AML_servicePrincipalKey": {
			"type": "secureString",
			"metadata": "Secure string for 'servicePrincipalKey' of 'ktg2AML'"
		},
		"ktg1blob_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ktg1blob.dfs.core.windows.net"
		},
		"ktg1blob_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "0ae0ab9e-ed14-495c-b44c-37636d04e7c5"
		},
		"ktg1blob_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "9b452daa-e8f2-4aea-a757-79ccc2c0882e"
		},
		"ktg1blobKey_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ktg1blob.dfs.core.windows.net"
		},
		"ktg2AML_properties_typeProperties_subscriptionId": {
			"type": "string",
			"defaultValue": "2a6a6da4-8792-4d69-8d5a-7df4f8ea230f"
		},
		"ktg2AML_properties_typeProperties_resourceGroupName": {
			"type": "string",
			"defaultValue": "KTG1"
		},
		"ktg2AML_properties_typeProperties_servicePrincipalId": {
			"type": "string",
			"defaultValue": "9b452daa-e8f2-4aea-a757-79ccc2c0882e"
		},
		"ktg2AML_properties_typeProperties_tenant": {
			"type": "string",
			"defaultValue": "0ae0ab9e-ed14-495c-b44c-37636d04e7c5"
		},
		"sourceBlob_LS_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'sourceBlob_LS'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AZMLPipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AZML Pipeline",
						"type": "AzureMLExecutePipeline",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"mlPipelineId": "3587e6d3-d8ae-4ac8-a985-70c97a398b7a",
							"experimentName": "pure-flights",
							"mlPipelineParameters": {
								"TestParquetData": "75f54d0e-3a59-4842-a878-abf68716e81d"
							},
							"mlParentRunId": "3587e6d3-d8ae-4ac8-a985-70c97a398b7a"
						},
						"linkedServiceName": {
							"referenceName": "ktg2AML",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ktg2AML')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bricksPipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DataBricks Pipe",
				"activities": [
					{
						"name": "flightsDataBricks",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/ygutfreund@outlook.com/flightsADF",
							"baseParameters": {
								"input": {
									"value": "@pipeline().parameters.inputPath",
									"type": "Expression"
								},
								"output": {
									"value": "@pipeline().parameters.outputPath",
									"type": "Expression"
								},
								"pipelineRunId ": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ktg1bricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ParquetWritten",
						"type": "Validation",
						"dependsOn": [
							{
								"activity": "flightsDataBricks",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "bricksPipeDone",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "7.00:00:00",
							"sleep": 10
						}
					}
				],
				"parameters": {
					"inputPath": {
						"type": "string",
						"defaultValue": "parquet/500K"
					},
					"outputPath": {
						"type": "string",
						"defaultValue": "temp/adf/results"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ktg1bricks')]",
				"[concat(variables('factoryId'), '/datasets/bricksPipeDone')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/flightsPreparePipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "flightsPrepare",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "CleanOutputFolder",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "flightsPrepare",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"flightsCSV": {},
									"writeFlights5M": {},
									"write500K": {},
									"write50K": {},
									"write5K": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					},
					{
						"name": "CleanOutputFolder",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "flightsParquet",
								"type": "DatasetReference",
								"parameters": {}
							},
							"logStorageSettings": {
								"linkedServiceName": {
									"referenceName": "ktg1blob",
									"type": "LinkedServiceReference"
								},
								"path": "logs"
							},
							"enableLogging": true,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"wildcardFileName": "*"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/flightsPrepare')]",
				"[concat(variables('factoryId'), '/datasets/flightsParquet')]",
				"[concat(variables('factoryId'), '/linkedServices/ktg1blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/translatorAVRO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "parquet2AVRO",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "parquet2AVRO",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"parquet5K": {},
									"parquet50K": {},
									"writeAVRO5K": {},
									"writeAVRO50K": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/parquet2AVRO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/translatorCSV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "parquet2CSV",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "parquet2CSV",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"parquet5K": {},
									"writeCSV": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/parquet2CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/bricksPipeDone')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ktg1blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "_SUCCESS",
						"folderPath": "temp/adf/results",
						"fileSystem": "adf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ktg1blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/flights5M')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ktg1blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "parquet/5M",
						"fileSystem": "adf"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "DAY_OF_WEEK",
						"type": "INT_16"
					},
					{
						"name": "AIRLINE",
						"type": "UTF8"
					},
					{
						"name": "FLIGHT_NUMBER",
						"type": "INT_16"
					},
					{
						"name": "TAIL_NUMBER",
						"type": "UTF8"
					},
					{
						"name": "ORIGIN_AIRPORT",
						"type": "UTF8"
					},
					{
						"name": "DESTINATION_AIRPORT",
						"type": "UTF8"
					},
					{
						"name": "DISTANCE",
						"type": "INT_16"
					},
					{
						"name": "late_flight",
						"type": "BOOLEAN"
					},
					{
						"name": "depart_time",
						"type": "INT96"
					},
					{
						"name": "arrival_time",
						"type": "INT96"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ktg1blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/flightsAVRO')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ktg1blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "avro",
						"fileSystem": "adf"
					},
					"avroCompressionCodec": "snappy"
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ktg1blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/flightsCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ktg1blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "csv",
						"fileSystem": "adf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ktg1blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/flightsParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ktg1blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "parquet/5K",
						"fileSystem": "adf"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ktg1blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ktg1CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ktg1blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "adf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ktg1blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ktg1CSVwrangler')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ktg1blobKey",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "flightsFull.csv",
						"folderPath": "flights",
						"fileSystem": "adf"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ktg1blobKey')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/temp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ktg1blob",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "temp",
						"fileSystem": "adf"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ktg1blob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/amlblob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "amlblob",
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('amlblob_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/bricksTransform')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2645919899729973.13.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('bricksTransform_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "2",
					"newClusterVersion": "5.5.x-cpu-ml-scala2.11"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ktg1blob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ktg1blob",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ktg1blob_properties_typeProperties_url')]",
					"tenant": "[parameters('ktg1blob_properties_typeProperties_tenant')]",
					"servicePrincipalId": "[parameters('ktg1blob_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('ktg1blob_servicePrincipalKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ktg1blobKey')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "for wrangling",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ktg1blobKey_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ktg1blobKey_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ktg1bricks')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "databricks",
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-2645919899729973.13.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('ktg1bricks_accessToken')]"
					},
					"newClusterNodeType": "Standard_DS3_v2",
					"newClusterNumOfWorker": "1:4",
					"newClusterSparkEnvVars": {
						"PYSPARK_PYTHON": "/databricks/python3/bin/python3"
					},
					"newClusterVersion": "7.2.x-cpu-ml-scala2.12"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ktg2AML')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "connect to ktg2AML pure-flight-pipe",
				"annotations": [],
				"type": "AzureMLService",
				"typeProperties": {
					"subscriptionId": "[parameters('ktg2AML_properties_typeProperties_subscriptionId')]",
					"resourceGroupName": "[parameters('ktg2AML_properties_typeProperties_resourceGroupName')]",
					"mlWorkspaceName": "ktg2AML",
					"servicePrincipalId": "[parameters('ktg2AML_properties_typeProperties_servicePrincipalId')]",
					"servicePrincipalKey": {
						"type": "SecureString",
						"value": "[parameters('ktg2AML_servicePrincipalKey')]"
					},
					"tenant": "[parameters('ktg2AML_properties_typeProperties_tenant')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sourceBlob_LS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('sourceBlob_LS_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mem4')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"description": "4+4, TTL=0",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"dataFlowProperties": {
							"computeType": "MemoryOptimized",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/mem8')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"description": "8+8,10 TTL, MemOpt",
				"typeProperties": {
					"computeProperties": {
						"location": "East US",
						"dataFlowProperties": {
							"computeType": "MemoryOptimized",
							"coreCount": 16,
							"timeToLive": 10
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/csvWrangler')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "WranglingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"name": "ktg1CSVwrangler",
							"script": "",
							"dataset": {
								"referenceName": "ktg1CSVwrangler",
								"type": "DatasetReference"
							}
						}
					],
					"sinks": [],
					"script": "section Section1;\r\nshared ktg1CSVwrangler = let\r\n  AdfDoc = AzureStorage.DataLakeContents(\"https://ktg1blob.dfs.core.windows.net/adf/flights/flightsFull.csv\"),\r\n  Csv = Csv.Document(AdfDoc, [Delimiter = \",\", Encoding = TextEncoding.Utf8, QuoteStyle = QuoteStyle.Csv])\r\nin\r\n  Csv;\r\nshared UserQuery = let\r\n  Source = ktg1CSVwrangler\r\nin\r\n  Source;\r\n"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ktg1CSVwrangler')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/flightsPrepare')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "clean flights data, write to Parquet files",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ktg1CSV",
								"type": "DatasetReference"
							},
							"name": "flightsCSV"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "flightsParquet",
								"type": "DatasetReference"
							},
							"name": "writeFlights5M"
						},
						{
							"dataset": {
								"referenceName": "flightsParquet",
								"type": "DatasetReference"
							},
							"name": "write500K"
						},
						{
							"dataset": {
								"referenceName": "flightsParquet",
								"type": "DatasetReference"
							},
							"name": "write50K"
						},
						{
							"dataset": {
								"referenceName": "flightsParquet",
								"type": "DatasetReference"
							},
							"name": "write5K"
						}
					],
					"transformations": [
						{
							"name": "isLate"
						},
						{
							"name": "Clone",
							"description": "Autogenerated by data preview actions"
						},
						{
							"name": "flag500K"
						},
						{
							"name": "flights500K"
						},
						{
							"name": "cleanFlag"
						},
						{
							"name": "departDate"
						},
						{
							"name": "thinColumns"
						},
						{
							"name": "departTime"
						},
						{
							"name": "arrivalTime"
						},
						{
							"name": "cleanColumns"
						},
						{
							"name": "flag5K"
						},
						{
							"name": "flag50K"
						},
						{
							"name": "flights50K"
						},
						{
							"name": "flights5K"
						},
						{
							"name": "setDataTypes"
						}
					],
					"script": "source(output(\n\t\tYEAR as short,\n\t\tMONTH as short,\n\t\tDAY as short,\n\t\tDAY_OF_WEEK as short,\n\t\tAIRLINE as string,\n\t\tFLIGHT_NUMBER as short,\n\t\tTAIL_NUMBER as string,\n\t\tORIGIN_AIRPORT as string,\n\t\tDESTINATION_AIRPORT as string,\n\t\tSCHEDULED_DEPARTURE as string,\n\t\tDEPARTURE_TIME as short,\n\t\tDEPARTURE_DELAY as short,\n\t\tTAXI_OUT as short,\n\t\tWHEELS_OFF as short,\n\t\tSCHEDULED_TIME as short,\n\t\tELAPSED_TIME as short,\n\t\tAIR_TIME as short,\n\t\tDISTANCE as short,\n\t\tWHEELS_ON as short,\n\t\tTAXI_IN as short,\n\t\tSCHEDULED_ARRIVAL as string,\n\t\tARRIVAL_TIME as short,\n\t\tARRIVAL_DELAY as short,\n\t\tDIVERTED as boolean,\n\t\tCANCELLED as boolean,\n\t\tCANCELLATION_REASON as string,\n\t\tAIR_SYSTEM_DELAY as short,\n\t\tSECURITY_DELAY as boolean,\n\t\tAIRLINE_DELAY as short,\n\t\tLATE_AIRCRAFT_DELAY as short,\n\t\tWEATHER_DELAY as short,\n\t\tid as integer\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:['flights/flightsFull.csv'],\n\tpartitionBy('hash', 32,\n\t\tFLIGHT_NUMBER,\n\t\tTAIL_NUMBER\n\t)) ~> flightsCSV\nflightsCSV derive(late_flight = (ARRIVAL_DELAY>30) || CANCELLED || DIVERTED) ~> isLate\nsetDataTypes select(mapColumn(\n\t\tDAY_OF_WEEK,\n\t\tAIRLINE,\n\t\tFLIGHT_NUMBER,\n\t\tTAIL_NUMBER,\n\t\tORIGIN_AIRPORT,\n\t\tDESTINATION_AIRPORT,\n\t\tDISTANCE,\n\t\tlate_flight,\n\t\tdepart_time,\n\t\tarrival_time\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Clone\nClone derive({500K} = mod(\r\n    crc32(DAY_OF_WEEK, FLIGHT_NUMBER, DISTANCE,\r\n    depart_time,arrival_time),\r\n    10) == 7) ~> flag500K\nflag500K filter({500K}) ~> flights500K\nthinColumns derive(cleanFlag = false()) ~> cleanFlag\ncleanFlag derive(depart_date = toDate(toString(YEAR)+'-'+toString(MONTH)+'-'+toString(DAY)+ ' ')) ~> departDate\nisLate select(mapColumn(\n\t\tYEAR,\n\t\tMONTH,\n\t\tDAY,\n\t\tDAY_OF_WEEK,\n\t\tAIRLINE,\n\t\tFLIGHT_NUMBER,\n\t\tTAIL_NUMBER,\n\t\tORIGIN_AIRPORT,\n\t\tDESTINATION_AIRPORT,\n\t\tSCHEDULED_DEPARTURE,\n\t\tDEPARTURE_TIME,\n\t\tSCHEDULED_TIME,\n\t\tDISTANCE,\n\t\tSCHEDULED_ARRIVAL,\n\t\tlate_flight\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> thinColumns\ndepartDate derive(depart_time = toTimestamp(toString(depart_date) + ' ' + \r\n    left( SCHEDULED_DEPARTURE,2) + ':' + \r\n    right(SCHEDULED_DEPARTURE,2), \r\n'yyyy-MM-dd HH:mm')) ~> departTime\ndepartTime derive(arrival_time = depart_time + minutes(toInteger(SCHEDULED_TIME))) ~> arrivalTime\narrivalTime select(mapColumn(\n\t\tDAY_OF_WEEK,\n\t\tAIRLINE,\n\t\tFLIGHT_NUMBER,\n\t\tTAIL_NUMBER,\n\t\tORIGIN_AIRPORT,\n\t\tDESTINATION_AIRPORT,\n\t\tDISTANCE,\n\t\tlate_flight,\n\t\tdepart_time,\n\t\tarrival_time\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> cleanColumns\nClone derive({5K} = mod(\r\n    crc32(DAY_OF_WEEK, FLIGHT_NUMBER, DISTANCE,\r\n    depart_time,arrival_time),\r\n    1000) == 7) ~> flag5K\nClone derive({50K} = mod(\r\n    crc32(DAY_OF_WEEK, FLIGHT_NUMBER, DISTANCE,\r\n    depart_time,arrival_time),\r\n    100) == 7) ~> flag50K\nflag50K filter({50K}) ~> flights50K\nflag5K filter({5K}) ~> flights5K\ncleanColumns derive(DAY_OF_WEEK = toInteger(DAY_OF_WEEK),\n\t\tFLIGHT_NUMBER = toInteger(FLIGHT_NUMBER),\n\t\tDISTANCE = toInteger(DISTANCE)) ~> setDataTypes\nClone sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tfilePattern:'5M/part[n].parquet',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> writeFlights5M\nflights500K sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tfilePattern:'500K/part[n].parquet',\n\tmapColumn(\n\t\tDAY_OF_WEEK,\n\t\tAIRLINE,\n\t\tFLIGHT_NUMBER,\n\t\tTAIL_NUMBER,\n\t\tORIGIN_AIRPORT,\n\t\tDESTINATION_AIRPORT,\n\t\tDISTANCE,\n\t\tlate_flight,\n\t\tdepart_time,\n\t\tarrival_time\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> write500K\nflights50K sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tfilePattern:'50K/part[n].parquet',\n\tmapColumn(\n\t\tDAY_OF_WEEK,\n\t\tAIRLINE,\n\t\tFLIGHT_NUMBER,\n\t\tTAIL_NUMBER,\n\t\tORIGIN_AIRPORT,\n\t\tDESTINATION_AIRPORT,\n\t\tDISTANCE,\n\t\tlate_flight,\n\t\tdepart_time,\n\t\tarrival_time\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> write50K\nflights5K sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tfilePattern:'5K/part[n].parquet',\n\tmapColumn(\n\t\tDAY_OF_WEEK,\n\t\tAIRLINE,\n\t\tFLIGHT_NUMBER,\n\t\tTAIL_NUMBER,\n\t\tORIGIN_AIRPORT,\n\t\tDESTINATION_AIRPORT,\n\t\tDISTANCE,\n\t\tlate_flight,\n\t\tdepart_time,\n\t\tarrival_time\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> write5K"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ktg1CSV')]",
				"[concat(variables('factoryId'), '/datasets/flightsParquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/inpsectFiles')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Look at Parquet contents",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "flightsParquet",
								"type": "DatasetReference"
							},
							"name": "source"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ktg1CSV",
								"type": "DatasetReference"
							},
							"name": "sinkhole"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\tDAY_OF_WEEK as short,\n\t\tAIRLINE as string,\n\t\tFLIGHT_NUMBER as short,\n\t\tTAIL_NUMBER as string,\n\t\tORIGIN_AIRPORT as string,\n\t\tDESTINATION_AIRPORT as string,\n\t\tDISTANCE as short,\n\t\tlate_flight as boolean,\n\t\tcleanFlag as boolean,\n\t\tdepart_time as timestamp,\n\t\tarrival_time as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet',\n\twildcardPaths:['parquet/500K']) ~> source\nsource sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['temp/junk.csv'],\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sinkhole"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/flightsParquet')]",
				"[concat(variables('factoryId'), '/datasets/ktg1CSV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/parquet2AVRO')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "flightsParquet",
								"type": "DatasetReference"
							},
							"name": "parquet5K"
						},
						{
							"dataset": {
								"referenceName": "flightsParquet",
								"type": "DatasetReference"
							},
							"name": "parquet50K"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "flightsAVRO",
								"type": "DatasetReference"
							},
							"name": "writeAVRO5K"
						},
						{
							"dataset": {
								"referenceName": "flightsAVRO",
								"type": "DatasetReference"
							},
							"name": "writeAVRO50K"
						}
					],
					"transformations": [],
					"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: true,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet',\n\twildcardPaths:['parquet/5K/*']) ~> parquet5K\nsource(allowSchemaDrift: true,\n\tvalidateSchema: true,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet',\n\twildcardPaths:['parquet/50K/*']) ~> parquet50K\nparquet5K sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['flights5K.avro'],\n\ttruncate: true,\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> writeAVRO5K\nparquet50K sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['flights50K.avro'],\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> writeAVRO50K"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/flightsParquet')]",
				"[concat(variables('factoryId'), '/datasets/flightsAVRO')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/parquet2CSV')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "flightsParquet",
								"type": "DatasetReference"
							},
							"name": "parquet5K"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "flightsCSV",
								"type": "DatasetReference"
							},
							"name": "writeCSV"
						}
					],
					"transformations": [],
					"script": "source(allowSchemaDrift: true,\n\tvalidateSchema: true,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet',\n\twildcardPaths:['parquet/5K/*']) ~> parquet5K\nparquet5K sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tpartitionFileNames:['flights5K.csv'],\n\ttruncate: true,\n\tpartitionBy('hash', 1),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> writeCSV"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/flightsParquet')]",
				"[concat(variables('factoryId'), '/datasets/flightsCSV')]"
			]
		}
	]
}